$tf*/
*.aps
*.bak
*.cache
*.DotSettings
*.exe
*.ilk
*.lib
*.log
*.ncb
*.obj
*.pch
*.pdb
*.sbr
*.sln.docstates
*.suo
*.tlb
*.tlh
*.user
*.vspscc
*.vssscc
*_i.c
*_p.c
.sass-cache
.idea/
[Bb]in
[Dd]ebug*/
[Ll]ogs/
[Rr]elease*/
[Tt]est[Rr]esult*
_ReSharper*/
AffaireData/
ePlans.Publish/
Administration/ePlans.Grunt/node_modules/
obj/
packages/
*.DotSettings
#test
AssemblyInfo.Generated.cs
*.sln.ide